<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css" />
</head>

<body>
  <h3>My Sounds <span class="glyphicon glyphicon-music"></span></h3>
  <p style="margin-bottom:30px;width:70%;margin:0 auto;">Click Upload to upload a new sound and attach it to this application.  Click Choose to attach your previously-uploaded sounds to this application.</p>
  <div class="upload-btn" style="display:block;text-align:center;margin-top:20px;">
    <a class="btn btn-success btn-lg" href="/newUpload">
      <i class="fa fa-2x fa-cloud-upload"></i><br>
      Upload
    </a>
    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#soundListModal">
      <i class="fa fa-2x fa-list"></i><br>
      Choose
    </a>
  </div>
  <br>
  <br>

  <% if @totalTracks==0 %>
    <div class="alert alert-warning">
      <h3> You haven't attached any sounds yet!</h3>
      <h5> Upload new sounds using the Upload button above, or attach previously-uploaded sounds by clicking the Choose button to view your sound library.</h5>
    </div>
    <% end %>

      <% if @totalTracks>0 %>
        <div id="slickcontainer">
          <% @trackList.each do |track| %>
          <%if track['tag_list'] == session['user_app_tag'] %>






            <div class="slickel">
              <% if track['title'].length > 15 %>
                <% track['short'] = track['title'][0..7] + "..." %>
                <%= track['short'] %>
              <% else %>
                <%= track['title'] %>
              <% end %>
                  <br>
                  <div class="btnContainer">
                    <div class="btn-group">
<i style="display:none;" class="fa fa-volume-up volumeUp"></i>
<i style="display:none;" class="fa fa-volume-down volumeDown"></i>
                      <span id="playSound" onclick="playMedia($(this))">
                        <i class="fa fa-5x fa-play-circle-o overAvatar" style="cursor:pointer"></i>

                        <audio>
                          <source src="<%= track['stream_url'] %>?client_id=<%= session['cid'] %>&secret_token=<%= track['secret_token'] %>">
                        </audio>
                        <% if track['artwork_url'] != nil %>
                        <img src="<%= track['artwork_url'] %>" style="border:1px solid black;border-radius:5px;height:160px;width:160px;">
                        <% else %>
                        <img src="/img/default_avatar.jpg" style="border:1px solid black;border-radius:5px;height:160px;width:160px;">
                        <% end %>
                          </span>

                      <a class="btn btn-primary" style="border-top-left-radius:4px; border-bottom-left-radius:4px;" href='/tracks/edit/<%=track['id']%>'><span class="glyphicon glyphicon-pencil"></span></a>
                      <a class="btn btn-success" href='/tracks/view/<%=track['id']%>'><span class="glyphicon glyphicon-music"></span></a>
                      <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="caret"></span>
                      </button>

                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a data-toggle="modal" data-target="#myModal" >Delete</a>
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
            <% end %>
            <% end %>
        </div>
        <% end %>

<div id="soundListModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" aria-hidden="true" data-dismiss="modal"> x</a>
        <h3 id="myModalLabel" class="modal-title">Your Sound List</h3>
      </div><!-- modal header -->
      <div class="modal-body">
        <div class="row">
          <% if @totalTracks==0 %>
            <div class="alert alert-warning">
              <h3> You haven't uploaded any sounds yet!</h3>
              <h5> Return to the main page and click the Upload button to upload new sounds</h5>
            </div><!-- alert warning -->
            <% end %>
            <% if @totalTracks>0 %>
              <small style="color:grey;">
              <i>Please click on Sounds to attach/detach them to this application. Sounds highlighted in green with a checkbox will be attached to your application when you click "Update". Sounds not selected will be detached.</i>
              <% @trackList.each do |track| %>
              <%if track['tag_list'] == session['user_tag'] %>
              <div class="row" style="margin-top:10px;height:200px;overflow-x:hidden;overflow-y:scroll;">

                  <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="thumbnail" id="<%=track['id']%>">
                      <div class="sound-thumbnail">
                        <i class="icon fa fa-4x fa-check-circle-o" style="margin-top:9px;"></i>
                      </div><!-- sound-thumbnail -->
                      <div class="caption">
                        <h5><%= track['title'] %></h5>
                        <p></p>
                      </div><!-- caption div -->
                    </div><!-- thumbnail -->
                  </div><!-- col-sm-3 -->

              </div><!-- row -->
              <% end %>
              <% end %>
        </div><!-- row -->
      </div><!-- modal body -->
        <div class="modal-footer">
          <a class="btn btn-danger" aria-hidden="true" data-dismiss="modal" type="button">Cancel</a>
          <% if @totalTracks==0 %>
            <a class="btn btn-info" id="attachSoundButton" disabled="true">Update</a>
          <% else %>
            <a class="btn btn-info" id="attachSoundButton">Update</a>
          <% end %>
        </div><!-- modal footer -->
        <% end %>
      </div><!-- modal content -->
    </div><!-- modal dialog -->
  </div><!-- list modal -->





          <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
          <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
          <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="/js/slick.min.js"></script>
          <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>
