<html>

<head>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/app.css">
  <link rel="stylesheet" type="text/css" href="../slick/slick.css" />
</head>

<body>
  <h1>Uploads</h1>

  <a class="btn btn-info" href="/newUpload">New Upload</a>
  <br>
  <br>

  <% if @totalTracks==0 %>
    <div class="alert alert-warning">
      <h3> You haven't attached any sounds yet!</h3>
      <h5> Upload new sounds using the Upload button above, or attach previously-uploaded sounds by clicking the Choose button to view your sound library.</h5>
    </div>
    <% end %>

      <% if @totalTracks>0 %>
        <div id="slickcontainer">
          <% @trackList.each do |track| %>




            <div class="slickel">
              <% if track['title'].length > 15 %>
                <% track['short'] = track['title'][0..7] + "..." %>
                <%= track['short'] %>
              <% else %>
                <%= track['title'] %>
              <% end %>
                  <br>
                  <div class="btnContainer">
                    <div class="btn-group">

                      <img src="/img/default_avatar.jpg" style="border:1px solid black;border-radius:5px;height:160px;width:160px;">

                      <a class="btn btn-primary" href='/tracks/edit/<%=track['id']%>/<%=track['title']%>/<%=track['description']%>'><span class="glyphicon glyphicon-pencil"></span></a>
                      <a class="btn btn-success" href='/viewUpload'><span class="glyphicon glyphicon-music"></span></a>
                      <a id="playSound" class="btn btn-info" onclick="playMedia($(this));"><span class="glyphicon glyphicon-play-circle"><audio><source src="<%= track['stream_url'] %>?client_id=<%= session['cid'] %>&secret_token=<%= track['secret_token'] %>"></audio></span></a>
                      <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="caret"></span>
                      </button>

                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a onclick='return confirm("Are you sure you want to delete this sound?")' href='/tracks/delete/<%=track[' id ']%>'>Delete</li></a>
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
            <% end %>
        </div>
        <% end %>





          <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
          <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
          <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="../slick/slick.min.js"></script>
          <script type="text/javascript" src="../js/app.js"></script>

</body>

</html>
